* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}

body {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  cursor: pointer;
}

nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

ul {
  display: flex;
  align-items: center;
}
li {
  list-style: none;
  margin: 0 16px 0 0;
  cursor: pointer;
}

input[type="search"] {
  width: 30%;
  outline: none;
  padding-left: 16px;
  border-radius: 4px;
  border-width: 1px;
  height: 30px;
}

.wrap-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  height: 200px;

  background-color: lightseagreen;
  border-radius: 8px;
  margin-bottom: 16px;
}

.box {
  min-height: 300px;
  width: 100%;
  background-color: lightgray;
  margin: 16px;
  padding: 16px;
}

p {
  word-break: break-all;
}
nav#mobile-header {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 50px;
}

@media only screen and (max-width: 800px) {
  nav#header {
    display: none;
  }
  nav#mobile-header {
    display: block;
    text-align: center;
  }
  .wrap-box {
    flex-direction: column;
  }
  .box {
    width: 90%;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
}
